.MemoryCard {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 3px;
    border-radius: 5px;
    border: solid 3px rgba(44, 0, 0, 0.61);
    cursor: pointer;
    background: repeating-linear-gradient(
  20deg,
  #d38989,
  #ca7070 10px,
  #984646 10px,
  #802c2c 20px
);
}

.MemoryCard img {
    width: 100%;
    padding-top: 13px;

}